<div  class="w-full dark:bg-primaryBlack h-full pt-12 lg:pt-0 bg-white flex flex-col">
    <div *ngIf="weatherData" class="h-1/2  w-full p-4 gap-4 flex flex-col md:flex-row">
        <div [@slideInDownOnEnter]  class="w-full lg:w-1/2 h-full text-slate-900
        bg-no-repeat bg-cover bg-center
        bg-[url('/../../../assets/images/sunny2.jpg')]
         shadow-lg rounded-xl justify-between py-4 flex flex-col"
        
        >
            <div class="h-1/4 bg-transparent items-center px-4 gap-4 w-full flex flex-row">
                <div class="w-9 flex justify-center items-center">
                    <img src="../../../../assets/icons/sun.png" alt="" />
                </div>
                <div class="flex flex-col"> 
                    <span class="font-semibold text-xl tracking-wide">Weather</span>
                    <span class=" text-sm">What's the weather</span>
                    <!-- {{cityData?.name}}
                    {{weatherData?.current?.temp}}
                    <br>
                    {{aqiData?.main?.aqi}} -->
                </div>
            </div>

            <div class="h-1/4 px-4 justify-center w-full flex flex-col">
                <span class="text-4xl font-semibold ">{{ weatherData?.current?.temp - 273 | number: "1.0-0" }}&deg;C</span>
                <!-- <SPAN>  {{weather.current.temp}}</SPAN> -->
                <span class="text-sm  capitalize">{{weatherData.current.weather[0].description}}</span>
            </div>

            <div  class="h-2/5 px-4 pt-4 w-full grid grid-cols-3 gap-2">
                <div  class="bg-gradient-to-l from-yellow-900 to-amber-900 rounded-xl shadow-xl flex flex-col justify-center items-center">
                    <span class="text-white  antialiased"> Pressure</span>
                    <span class="font-semibold antialiased text-white tracking-wider">{{ weatherData?.current?.pressure }}mb</span>
                </div>
                <div class="bg-gradient-to-t from-slate-900 to-slate-800  rounded-xl text-white shadow-xl flex flex-col justify-center items-center">
                    <span class="antialiased"> Visibility</span>
                    <span class="font-semibold antialiased  tracking-wider">{{ weatherData?.current?.visibility / 1000 | number :'1.0-0' }}km</span>
                </div>
                <div class="bg-slate-50 rounded-xl shadow-xl flex flex-col justify-center items-center">
                    <span class="text-primaryBlack"> Humidity</span>
                    <span class="font-bold text-primaryBlack tracking-wider">{{ weatherData?.current?.humidity }}%</span>
                </div>
            </div>
        </div>

        <div [@slideInDownOnEnter]  class="w-full lg:w-1/2 text-slate-900
        bg-no-repeat bg-cover bg-center
        bg-[url('/../../../assets/images/air1.png')]
        
        h-full  shadow-lg rounded-xl justify-between py-4 flex flex-col">
            <div class="h-1/4 items-center px-4 gap-4 w-full flex flex-row">
                <div class="w-9 flex justify-center items-center">
                    <img src="../../../../assets/icons/wind.png" alt="" />
                </div>
                <div class="flex flex-col">
                    <span class="font-semibold text-lg tracking-wide">Air Quality</span>
                    <span>Main pollutant : PM 2.5</span>
                </div>
            </div>

            <div class="h-1/4 px-4 justify-center w-full flex flex-col">
                <div class="flex flex-row w-full">
                    <span class="font-semibold text-4xl">{{ AQIValue | number: "1.0-0" }}</span>
                    <div
                        class="rounded-md px-2 h-3/5 ml-2 mt-1 flex justify-center items-center text-black text-sm font-semibold tracking-wide bg-green-700">
                        AQI
                    </div>
                </div>
                <span class="text-sm   ">wind speed : {{ weatherData?.current?.wind_speed  | number: "1.0-0" }} km/h</span>
            </div>

            <div [@fadeInDownOnEnter] class="h-2/5 px-4 pt-4 w-full ">
                <div class="w-full h-full rounded-xl px-4 py-2 shadow-lg flex flex-col justify-evenly bg-white bg-opacity-95">
                    <div class="flex flex-row w-full font-bold justify-between">
                        <span class="text-neutral-700">Good</span>
                        <span class="text-neutral-700">Hazardous</span>
                    </div>

                    <div class="w-full flex">
                        <label tuiProgressLabel class="w-full"> 

                            <progress class="progress" tuiProgressBar size="s" [value]= aqiData?.main?.aqi color="
                            linear-gradient(to left, orange,green)"
                                [max]="7"></progress>
                        </label>
                    </div>


                </div>
            </div>
        </div>
     </div>
     <div class="h-1/2 w-full text-slate-800  flex flex-col lg:flex-row gap-2 sm:flex-row">
        <div class="h-full w-full 
        lg:w-8/12 px-4   flex flex-col justify-between ">
            <div *ngIf="weatherData" class="w-full h-1/4 dark:text-slate-200  flex flex-row justify-between items-center">
                <span class="w-auto text-xl font-semibold">How's the <br> temparature today?</span>
                <!-- <div class="  grid grid-cols-3 gap-2">
                    <button class="w-8 h-8 bg-orange-400 text-white shadow-lg rounded-lg">Aa</button>
                    <button  class="w-8 h-8 bg-orange-400 text-white shadow-lg rounded-lg">Aa</button>
                    <button class="w-8 h-8 bg-orange-400 text-white shadow-lg rounded-lg">Aa</button>

                </div> -->
            </div>
            <div [@slideInUpOnEnter] class="w-full h-1/2 ">
                <canvas  id="canvas">{{chart}}</canvas>
            </div>
            <div *ngIf="weatherData" class="w-full h-1/5   flex flex-row justify-between ">

                <div class="flex flex-col justify-center items-center" >
                    <span class="font-semibold text-lg  dark:text-slate-200 ">{{demoData[0]- 273 | number: "1.0-0"}}&deg;</span>
                            <span class="text-base text-zinc-600"> Morning </span>
                </div>

                <div class="flex flex-col justify-center items-center" >
                    <span class="font-semibold text-lg  dark:text-slate-200  ">{{demoData[1] - 273 | number: "1.0-0"}}&deg;</span>
                            <span class="text-base text-zinc-600"> Noon </span>
                </div>
                <div class="flex flex-col justify-center items-center" >
                    <span class="font-semibold text-lg  dark:text-slate-200  ">{{demoData[2] - 273 | number: "1.0-0"}}&deg;</span>
                            <span class="text-base text-zinc-600"> Evening </span>
                </div>
                <div class="flex flex-col justify-center items-center" >
                    <span class="font-semibold text-lg  dark:text-slate-200  ">{{demoData[3] - 273 | number: "1.0-0"}}&deg;</span>
                            <span class="text-base text-zinc-600"> Night </span>
                </div>
            </div>

        </div>
        <div [@zoomInOnEnter] *ngIf="weatherData" class="h-full w-full lg:w-4/12 pr-4">
            <div class="h-full w-full text-white rounded-2xl
            bg-no-repeat bg-cover bg-center
        bg-[url('/../../../assets/images/image3.jpg')]
            shadow-lg flex flex-col p-6 justify-between">
                <div class="w-full flex flex-col">
                    <span class="text-base text-black font-semibold ">Tomorrow</span>
                    <span class="pt-1 font-semibold text-slate-900 antialiased capitalize text-2xl">{{weatherData?.daily[1]?.weather[0]?.description}}</span>
                </div>
                <div class="flex text-slate-50  flex-col">
                    <span class="pb-1 font-semibold text-3xl">{{ weatherData?.daily[1]?.temp?.max - 273 | number :'1.0-0'}}&#8451;</span>
                    <span  class="text-base font-semibold">Rain</span>
                </div>
            </div>
            
        </div>
    </div>  
    
    
</div>

<div *ngIf="!weatherData" class="w-[90%] dark:bg-primaryBlack h-full flex flex-col top-0 left-20  z-50 justify-center items-center bg-white absolute" >
        <div class="w-48 h-48 rotate
        bg-no-repeat bg-contain bg-center
            bg-[url('/../../../assets/icons/sun-anim.png')]">
    
        </div> 
</div>