<div [class.dark]="darkScreenMode"
    class="w-screen bg-white  min-h-screen flex flex-col lg:flex-row h-auto lg:h-screen ">
    <div class="w-full lg:w-8/12 h-full flex dark:bg-primaryBlack flex-col ">
        <div class=" h-12 sm:h-14 w-full px-2 sm:px-4 flex fixed z-30 lg:relative  justify-between ">
            <div class="w-auto pr-2 py-0  h-full flex flex-row justify-center items-center  ">
                <div class="w-12">
                    <img src="../../../assets/images/image_processing20200806-11280-10n51f5-removebg-preview.png"
                        alt="">
                </div>

                <span class="text-primaryBlack dark:text-white text-xl font-bold">Sunset</span>
            </div>
            <div class="w-auto sm:w-2/5 h-full flex flex-row justify-between items-center gap-4 ">

                <div class="w-10/12 hidden sm:block">
                    <tui-combo-box tuiTextfieldInputMode="text" (focusedChange)="focus()" tuiDropdownminHeight=2
                        [formControl]="citySearch" [(search)]="search">
                        <label *ngIf="!searchFocus">search cities here</label>
                        <tui-data-list-wrapper *tuiDataList [items]=" filter(search)"></tui-data-list-wrapper>
                    </tui-combo-box>
                </div>

                <!-- <a routerLink="./info">info</a> -->


                <div class=" flex flex-row items-center">
                    <tui-toggle [formControl]="darkMode" size='l'>

                    </tui-toggle>
                </div>


            </div>
        </div>
        <div class="w-full h-full mt-12 lg:mt-0 flex  relative ">

            <div class="w-10/12 left-8 top-16  h-12 fixed block lg:hidden  ">
                <tui-combo-box tuiTextfieldInputMode="text" tuiTextfieldExampleText="india" tuiDropdownminHeight=2
                    [formControl]="citySearch" tuiTextfieldLabelOutside="true" [(search)]="search">
                    <tui-data-list-wrapper tuiTextfieldSize="s" *tuiDataList [items]="filter(search)">
                    </tui-data-list-wrapper>
                </tui-combo-box>
            </div>
            <div class=" hidden text-primaryBlack dark:text-white  h-full lg:flex flex-col items-center gap-4 w-20  py-14 ">
                <a routerLink="./dashboard" routerLinkActive="active" class=" w-10 h-10 flex justify-center rounded-md shadow-2xl items-center">
                    <span class="material-symbols-outlined  text-3xl">
                        dashboard
                        </span>
                </a> 
                <a routerLink="./info" routerLinkActive="active" class=" w-10 rounded-md shadow-2xl h-10 flex justify-center items-center">
                    <span class="material-symbols-outlined  text-3xl">
                        insights
                        </span>
                </a>
                <!-- <a routerLink="./" class=" w-10 h-10 flex justify-center items-center">
                    <span class="material-symbols-outlined text-3xl">
                        calendar_month
                        </span>
                </a>
                <a routerLink="./" class=" w-10 h-10 flex justify-center items-center">
                    <span class="material-symbols-outlined text-3xl">
                        thermostat
                        </span>
                </a> -->
            </div>
            <div class="flex-grow dark:bg-primaryBlack p-1 sm:p-4  w-full h-full">
                <router-outlet></router-outlet>
            </div>


        </div>




    </div>
    <div class=" w-full md:w-2/6 h-full relative bg-slate-50 dark:bg-black flex flex-col pb-4 ">
        <div class=" w-full  text-primaryOrange dark:text-darkPrimary  h-20 px-8 py-1 flex flex-row">
            <div class="h-full  w-64 flex flex-col justify-center ">
                <span class="text-3xl  font-medium">{{day}} {{week}}</span>
                <span class="text-sm  px-1 text-slate-600 dark:text-white tracking-wide">{{month}} {{year}}</span>
            </div>

            <span
                class="h-full w-36 pb-1  flex  tracking-widest font-semibold justify-end items-end text-lg ">
                {{time}}
            </span>


        </div>

        <div class="h-[1px] w-5/6 bg-slate-200 dark:bg-slate-900 self-center">

        </div>

        <div class="  w-full flex p-0 sm:p-0  justify-center flex-col items-center h-2/5">


            <div class="h-36  relative">


                <div class="sun absolute ">
                    <div class="earth   
                    rounded-full"
                    [ngStyle]="{'background-image': night ? 'url(\'../../../assets/icons/moon.png\')' : 'url(\'../../../assets/icons/sun_PNG13426.png\')'}"
                    ></div>
                </div>

                <div
                    class="container border-dashed border-b-0  border-t-4 border-orange-600 border-t-orange-400 h-full absolute rounded-t-full ">
                    <div class="bar progressbar  bg-gradient-to-t from-slate-50 to-orange-400 absolute">

                    </div>
                </div>
            </div>
            <!-- <div class="h-40 w-80 bg-slate-500 brder-2 border-emerald-900 rounded-t-full ">

            </div> -->
            <div class="w-80 lg:w-4/5 h-0.5 mt-1 bg-orange-400 flex  flex-col items-center justify-center">

                <div class="progress-bar relative  rounded-full  bg-orange-400">
                    <span class="dotleft absolute  ">
                        <span class="sunrise flex place-items-center absolute flex-col ">
                            <span *ngIf="!night" class="  text-sm font-semibold  text-orange-400">Sunrise</span>
                            <span *ngIf="night" class="  text-sm font-semibold  text-orange-400">Moonrise</span>
                            <span *ngIf="!night" class=" text-xs tracking-wide text-orange-400">{{sunrise}} am</span>
                            <span *ngIf="night" class=" text-xs tracking-wide text-orange-400">{{moonRise}} pm</span>
                        </span>
                    </span>
                    <div class="html    progressbar bg-orange-400   rounded-full ">
                        <span class="movespan">
                        </span>
                    </div>
                    <span class="dotright absolute ">
                        <span class="sunset flex  place-items-center flex-col ">
                            <span *ngIf="!night" class="  text-sm font-semibold  text-orange-400">Sunset</span>
                            <span *ngIf="night" class="  text-sm font-semibold  text-orange-400">Moonset</span>
                            <span *ngIf="!night" class=" text-xs tracking-wide text-orange-400">{{sunset}} pm</span>
                            <span *ngIf="night" class=" text-xs tracking-wide text-orange-400">{{moonSet}} am</span>
                        </span>
                    </span>
                </div>
            </div>



        </div>
       
        <div #forecast class=" w-full absolute bottom-0 bg-slate-50 dark:bg-black   h-1/2 px-8 pb-4  ">

            <button *ngIf="expanddiv" (click)="expand()"
                        class="w-10/12 h-[20px] flex absolute rounded-full justify-center items-center shadow-sm border border-slate-50 dark:border-darkPrimary ">
                        <span class="material-symbols-outlined text-orange-400 dark:text-white text-2xl font-medium ">
                        
                                expand_more 
                            </span>
                    </button>
            
            <div class="h-full w-full flex flex-col items-center pt-8 ">
                <span class="text-2xl font-semibold text-slate-600 dark:text-slate-200 ">Weather Prediction</span>
                <div class="w-full flex flex-col gap-2 flex-grow items-center justify-around pt-2">
                     

                    <ng-container *ngIf="expanddiv">
                        <div *ngFor="let day of weatherData?.daily | slice:2:7"
                            class="h-2/6 w-full flex px-4 bg-white items-center rounded-xl shadow-md">
                            <div class="w-12 h-12 ">
                                <img src="../../../assets/icons/cloudy (1).png" alt="">
                            </div>
                            <div class="flex h-full flex-grow   px-2 flex-col justify-center">
                                <span class="text-gray-500  text-md">{{day?.dt | datepipe}}</span>
                                <div class="flex flex-col ">
                                    <!-- <span class="text-lg font-medium leading-tight">{{day.weather[0].main}}</span> -->
                                    <span class="text-sm ">{{day.weather[0].description}}</span>

                                </div>
                            </div>
                            <div class="flex  flex-col h-full w-auto py-0.5 justify-center">
                                <div class="flex text-text-orange-500 flex-row justify-end gap-3 items-center">
                                    <span class="text-orange-500">{{day.temp.max - 273 | number: "1.0-0" }}&deg; / {{day.temp.min - 273 | number: "1.0-0" }}&deg;</span>
                                    <span class="material-symbols-outlined  text-orange-500 font-medium text-base  ">
                                        sunny
                                    </span>

                                </div>
                                <div class="flex flex-row  justify-end gap-3 items-center">
                                    <span class="text-purple-600">{{day.rain}} mm</span>
                                    <span class="material-symbols-outlined text-purple-600 font-medium text-base ">

                                        water_drop
                                    </span>

                                </div>
                                <div class="flex flex-row justify-end  gap-3 items-center">
                                    <span class="text-sky-400 ">{{day.wind_speed}} km/h</span>
                                    <span class="material-symbols-outlined  text-sky-400 font-medium text-base ">
                                        air
                                    </span>

                                </div>
                            </div>
                        </div>
                    </ng-container>

                    <ng-container *ngIf="!expanddiv">
                        <div *ngFor="let day of weatherData?.daily | slice:2:4"
                            class="h-2/6 w-full flex px-4 bg-white  items-center rounded-xl shadow-md">
                            <div class="w-12 h-12 ">
                                <img src="../../../assets/icons/cloudy (1).png" alt="">
                            </div>
                            <div class="flex h-full flex-grow  px-2 flex-col justify-center">
                                <span class="text-gray-500  text-md">{{day.dt | datepipe}}</span>
                                <div class="w-full flex flex-row justify-between items-center">
                                    <span class="text-lg font-medium">{{day.weather[0].description}}</span>
                                    <span class="text-orange-400 dark:text-darkPrimary text-base font-semibold">{{ day.temp.max - 273 | number: "1.0-0"
                                        }}&deg;/{{ day.temp.min - 273 | number: "1.0-0" }}&deg; </span>
                                </div>
                            </div>
                        </div>
                    </ng-container>



                    <!-- <div class="h-2/6 w-full flex px-4 bg-white items-center rounded-xl shadow-md">
                        <div class="w-12 h-12 ">
                            <img src="../../../assets/icons/cloudy (1).png" alt="">
                        </div>
                        <div class="flex h-full flex-grow  px-2 flex-col justify-center">
                            <span class="text-gray-500  text-md">November 10</span>
                            <div class="w-full flex flex-row justify-between">
                                <span class="text-lg font-semibold">Cloudy</span>
                                <span class="text-orange-400 text-lg font-semibold">{{ 323 - 273 | number: "1.0-0" }}&deg; / {{ 320 - 273 | number: "1.0-0" }}&deg; </span>
                            </div>
                        </div>
                    </div> -->

                    <button *ngIf="!expanddiv" (click)="expand()"
                        class="w-1/2 h-1/4 flex self-end rounded-xl justify-center items-center shadow-xl bg-orange-400 dark:bg-darkPrimary">
                        <span class="text-white font-semibold tracking-wide text-md">Next 5 Days</span>
                    </button> 

                    

                    <!-- <button *ngIf="expanddiv" (click)="expand()"
                        class="w-1/6 h-1/4 pl-2 flex self-end rounded-full justify-center items-center shadow-xl bg-orange-400">
                        <span class="material-symbols-outlined text-white font-semibold ">
                            arrow_back_ios
                            </span>
                    </button> -->

                    <!-- <div class="h-1/2 w-full flex px-4 items-center rounded-xl shadow-md">
                        <div class="w-12 h-12 ">
                            <img src="../../../assets/icons/sun.png" alt="">
                        </div>
                        <div class="flex h-full flex-grow  px-2 flex-col justify-center">
                            <span class="text-gray-500  text-md">November 10</span>
                            <div class="w-full flex flex-row justify-between">
                                <span class="text-lg font-semibold">Cloudy</span>
                                <span class="text-orange-400 text-lg font-semibold">{{ 323 - 273 | number: "1.0-0" }}&deg; / {{ 320 - 273 | number: "1.0-0" }}&deg; </span>
                            </div>
                        </div>
                    </div> -->



                </div>
            </div>
        </div>
        <!-- <div class="absolute h-96 w-72 bg-green-300 top-36 right-0">
            <tui-calendar
            
    [value]="calenderValue"
    (dayClick)="onDayClick($event)"
></tui-calendar> 
        </div> -->
    </div>
</div>