<main class="w-screen min-h-screen flex  flex-col  lg:flex-row  bg-black">
    <div class="w-full lg:w-8/12 min-h-screen relative flex   bg-green-500">

        <header class="w-full absolute top-0 left-0  h-12 bg-red-500 flex items-center justify-between "> 
            <h1>hbdfjd</h1>
        </header>
        <article class="bg-red pt-12 w-full h-screen flex flex-row ">
            <nav class="w-16 h-full hidden md:block bg-slate-500">
                <h1>icons</h1>
            </nav>
            <section class="h-full w-full  bg-orange-300 flex flex-col">

                <div class="w-full h-full  sm:h-1/2 flex flex-col sm:flex-row ">
                    
                    <div class="w-full h-full bg-black">ddfdf</div> 
                    <div class="w-full h-full  bg-red-500">erer</div> 

                </div>
                <div class="w-full h-full  sm:h-1/2 flex flex-col sm:flex-row ">
                    
                    <div class="w-8/12 h-full bg-green-500">ddfdf</div> 
                    <div class="w-4/12 h-full  bg-blue-500">fdf</div> 

                </div>


            </section>


        </article>

        
    </div>


    <aside class="w-full lg:w-4/12 min-h-screen   bg-yellow-500">
        <h1>sidebar</h1>
    </aside> 
    
</main>